<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{url_for('static', filename='images/22_192x192.png')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <title>ООО "СпецСтройРесурс"</title>
    </head>
    <body>
        <header class="header">
                <img class="head-logo" src="{{url_for('static', filename='images/22_peredel_1.png')}}">
                <div class="main-head-container">
                    <h1 class="main-head">Продажа пожарного оборудования и строительных материалов</h1>
                    <a class="contacts-btn" href="#contacts">
                        Контакты
                    </a>
                </div>
        </header>
        <img class="rectangle-1" src="{{url_for('static', filename='images/Rectangle1.png')}}">
        <main>
            <div class="about">
                <h2 class="about-head">О компании</h2>
                <div class="about-content cnt">ООО "СпецСтройРесурс" – динамично развивающаяся компания, осуществляющая деятельность в области обеспечения пожарной безопасности населения, организаций, промышленных и сельскохозяйственных предприятий. А так же комплектацией.
                    Так же ООО "СпецСтройРесурс" является комплексным поставщиком инженерного оборудования для комплектации объектов жилого и промышленного назначения, систем отопления, водоснабжения, водоотведения, центральных и индивидуальных тепловых пунктов (ЦТП/ИТП), вентиляции, кондиционирования и пара.</div>
            </div>
            <div class="production">
                <h2 class="production-head">Наша продукция</h2>
                <div class="production-content cnt">
                    <img class="product" src="{{url_for('static', filename='images/products/jqrI1RHS1EE.jpg')}}">
                    <img class="product" src="{{url_for('static', filename='images/products/02oiXfg_xxo.jpg')}}">
                    <img class="product" src="{{url_for('static', filename='images/products/ppTojlR5Qxw.jpg')}}">
                    <img class="product" src="{{url_for('static', filename='images/products/Ni1aMho1B6M.jpg')}}">
                    <img class="product" src="{{url_for('static', filename='images/products/V-L2Gl_5oZM.jpg')}}">
                    <img class="product" src="{{url_for('static', filename='images/products/xz_JEcvjzPc.jpg')}}">
                </div>
            </div>
            <div class="delivery">
                <h2 class="delivery-head">Доставка</h2>
                <div class="delivery-content cnt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida rhoncus dignissim. Nunc sollicitudin nisi orci, nec tincidunt elit pretium in. Suspendisse potenti. Maecenas et iaculis leo. Morbi venenatis erat vel nibh mattis gravida. Quisque risus erat, auctor ac nibh sed, vestibulum congue urna. Proin rhoncus odio in ante sodales varius. Vestibulum vitae rutrum nisi. Donec nec interdum mauris. Fusce ligula neque, dapibus nec vestibulum a, ultrices non dui. Vestibulum rhoncus, felis a iaculis rutrum, ligula nulla suscipit lectus, nec sagittis metus odio pretium tellus. Maecenas sit amet sodales lacus, sed fringilla nisl.
                    Sed dictum metus leo, vitae tempus leo dictum sit amet. Donec tellus tellus, elementum ac sodales at, sollicitudin pulvinar diam. Quisque quam augue, auctor finibus consectetur et, sodales ac ante. Duis ac luctus tellus.
                </div>
            </div>
        </main>
        <footer class="footer" id="contacts">
            <h2 class="foot-head">Контакты</h2>
            <div class="contacts">
                <a class="contact" href="tel:+79011717650">Телефон: +7 (901) 171-76-50</a>
                <a class="contact" href="mailto:s9011717650@yandex.ru">Почта: s9011717650@yandex.ru</a>
            </div>
        </footer>
    </body>
</html>